* {
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth !important;
	margin: 0;
	padding: 0;
}
body {
	margin: 0 !important;
	padding:0;
	font-family: 'Roboto', sans-serif;
	background:#161616;
}


li {
	padding: 20px;
}
ul{
	list-style-type:none;
	text-align: center;
	list-style: inside;
	padding-top: 20px;
}
a {
	text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  vertical-align: middle;
}

h3 {
	margin: 0;
	padding-top: 20px;
	font-size: 1.8em;
}

h4 {
	margin: 0;
	padding-top: 20px;
	font-size: 1.4em;
}

p {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.2em;
}

.main-nav {
  display: inline-block;
	list-style: none;
	margin: 0;
	font-size: 1.2em;
	z-index: 9999;
	width: 100%;
	background: none;
	position: absolute;
	overflow: auto;
}
.main-nav li{
  float:left;
}
.main-nav a{
	color: white;
}


footer{
  color: white;
  background-color: #161616;
  margin: 0;
  position: relative;
  bottom: 0;
}

#particles{
	position: absolute;
z-index:0;
height: 125vh;
width: 100%;
}

.diagonal{
	transform: skewY(-5.5deg);
	background-color: white;
	padding: 5% 20px;
	margin: 0 !important;
}

.diagonal-t{
transform: skewY(-5.5deg);
	background-color: #161616;
	color: white;
	padding: 5% 20px;
	margin: 0 !important;
}

.diagwr {
	transform: skewY(5.5deg);
}

.container a {
  color: white;
}

.p-end{
margin-bottom: 20px;
}

.zone {
	margin: 0;
}

.hideme{
opacity:0;
}

.text-center {
	text-align: center;
}

.container {
	height: 110vh;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background: #161616;
	width: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
	top: 0;
}

.portfolio{
background-color:white;
color: black;
margin-top:10%;
margin-bottom:10%;
}

.portfolio-grid-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 10px;
	position: relative;
}


.aboutme {
display: grid;
grid-template-columns: 1fr 1fr;
justify-items: center;
align-items: center;
	/*display: grid;
    grid-template-columns: 1fr 1fr;
    /*display: grid;
    grid-template-columns: 1fr !important;*/
}


.myImage{
  grid-column: 1;
    border-radius: 50%;
    object-fit: cover;
    height: 325px;
    width: 325px;
    max-height: 325px;
    max-width: 325px;
}

.degreeImage{
	border-radius: 50%;
    object-fit: fill;
    height: 325px;
    width: 325px;
    max-height: 325px;
    max-width: 325px;
	
}

.myText{
grid-column: 2;
}

.myQual{
	grid-column: 1;
}

.myQualImage{
	grid-column: 2;
	border-radius: 50%;
    object-fit: cover;
    max-height: 325px;
    max-width: 325px;
}

.box {	
	padding: 40px;
	margin: 10px;
	position: relative;
}

.box > a > h3{
	color: #fff !important;
	text-shadow: 4px 4px 4px #000000;
	position:absolute;
	left: 0;
	bottom: 0;
	padding: 40px;
	margin: 10px;
}

.box > img {
	width: 100%;
}

.zoom {
	transition: transform 0.8s; /* Animation */
}

.zoom:hover {
	transform: scale(1.04);
}
.desc{
transform: translateY(-50%);
position: relative;
}

.arrow {
  text-align: center;
  /*margin: 8% 0;*/
  position: absolute;
  bottom: 0;
}

.arrow p {
  margin-bottom: 40px;
  color: white;
}

ul.thd {
   position: relative;
   display: flex;
   transform: rotate(-0deg) skew(0deg);
   transform-style: preserve-3d;
}
ul.thd li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0px 30px;
}
ul.thd li:before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform-origin: top;
  transform: skewX(-41deg);
}
ul.thd li:after{
  content: '';
  position: absolute;
  top:0px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform-origin: right;
  transform: skewY(-49deg);
}
ul.thd li span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #404040;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}
ul.thd li:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}
ul.thd li:hover span:nth-child(4){
  transform: translate(30px, -30px);
  opacity: .8;
}
ul.thd li:hover span:nth-child(3){
  transform: translate(20px, -20px);
  opacity: .6;
}
ul.thd li:hover span:nth-child(2){
  transform: translate(10px, -10px);
  opacity: .4;
}ul.thd li:hover span:nth-child(1){
  transform: translate(0px, 0px);
  opacity: .2;
}
ul.thd li:nth-child(1):hover span{
  background: #a5dcbc !important;
}
ul.thd li:nth-child(2):hover span{
  background: #FBD786 !important;
}
ul.thd li:nth-child(3):hover span{
  background: #f7797d !important;
}

.bounce {
	color: white;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@media only screen and (max-width: 600px) {
   .main-nav {
        padding: 0;
        background:none;
    }
  
  .aboutme {
    display: grid;
    grid-template-columns: 1fr !important;
  }
  .myImage {
    margin-top: 20px;
  }
  .myText{
    grid-column: 1 !important;
  }

  .myQualImage {
  	grid-column: 1 !important;
	  margin-bottom: 40px;
  }

  .myQual {
  	margin-top: 20px;
  }
	
  ul.thd li {
  margin: 0px 12.5px !important;
}
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}
